name: Protect .env File

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  prevent-env-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check for .env files
        run: |
          if git ls-files | grep -q "\.env"; then
            echo "::error file=.env::The .env file should not be committed!"
            exit 1
          fi
